<div class="flex flex-col flex-auto min-w-0 rtl-text">
    <!-- Main -->
    <div class="flex flex-col items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <div class="-ml-4 sm:mt-8">
                <a mat-button [routerLink]="['../']" [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                    <span class="ml-2">בנה משחק משלך</span>
                </a>
            </div>
            <div class="mt-2 text-4xl sm:text-7xl tracking-tight leading-tight">
                שאלות נפוצות
            </div>
            <div class="mt-12 sm:mt-16 text-3xl font-bold leading-tight tracking-tight">דזסגבכהענימ</div>
            <mat-accordion class="max-w-4xl mt-8">
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title class="font-medium leading-tight">איך אפשר לקנות משחק</mat-panel-title>
                    </mat-expansion-panel-header>
                    אי אפשר עדיין להזמין משחק
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="max-w-4xl mt-8">
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title class="font-medium leading-tight">כמה עולה משחק?</mat-panel-title>
                    </mat-expansion-panel-header>
                    המשחק עולה לפי כמות הימים שלהם הזמנת את המשחק
                    <br>
                    <a mat-button [routerLink]="['../']" [color]="'primary'">
                        <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                        <span class="ml-2">כאן</span>
                    </a>
                    ניתן לראות זאת 
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="max-w-4xl mt-8">
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title class="font-medium leading-tight">מי הם האחראים על האתר</mat-panel-title>
                    </mat-expansion-panel-header>
                    לאתר יש הרבה אחראים <br>
                    הגדול מבינהם הוא אלוקים
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="max-w-4xl mt-8">
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title class="font-medium leading-tight">?איך האתר נוצר</mat-panel-title>
                    </mat-expansion-panel-header>
                    מה שבטוח לא מעצמו <br>
                    הרבה דרכים
                </mat-expansion-panel>
            </mat-accordion>
            <div class="mt-12 sm:mt-16 text-3xl font-bold leading-tight tracking-tight">דזסגבכהענימ</div>
            <mat-accordion class="max-w-4xl mt-8">
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title class="font-medium leading-tight">כהרקכברכ</mat-panel-title>
                    </mat-expansion-panel-header>
                    אם נדרש עידון במידותיו של פלוני, כי אז מצוות הוכח תוכיח את עמיתך מחייבת להביא את הנושא לתשומת לבו
                    בלשון רכה וברגישות.
                    אולם, אם אדם מרגיש שאין הוא מסוגל להוכיח את זולתו והוא יודע שגם האחרים מודעים לפגמים במידותיו של
                    הזולת, מותר לו לדבר איתם על כך ולשאול בעצתם או לבקש את התערבותם במקרה הצורך.
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
