<!-- example.component.html -->
<div class="container text-center py-6 bg-[#FFFFFF]">
    <h1 class="text-3xl mb-2 text-[#3a3a3a]">יצירת חוויה אינטראקטיבית ב-3 צעדים</h1>
    <p class="text-lg mb-6 text-[#646464]">הפיכת תוכנית קליקרים חדשנית וגללת נשכחת מכל מקום בצורה קלה ונוחה</p>
    <div class="steps flex justify-between items-center">
        <div class="step w-1/3 px-4">
            <div class=" rounded-full w-30  flex items-center justify-center mx-auto mb-2">
                <!-- Icon replacement -->
                <img class=" rounded-full ring-4 ring-bg-card" src="assets/images/avatars/brian-hughes.jpg"
                    alt="User avatar">
            </div>

            <!-- <div class="-mt-26 lg:-mt-22 rounded-full">
                <img class="w-32 h-32 rounded-full ring-4 ring-bg-card" src="assets/images/avatars/brian-hughes.jpg"
                    alt="User avatar">
            </div> -->


            <h2 class="text-xl mb-1 text-[#3a3a3a]">יוצרים</h2>
            <p class="text-base text-[#646464]">יוצרים את המשח ע בהתאמה אישית עם שאלות משלכם או ממאגרינו נושאים</p>
            <p class="text-base text-[#646464]">דרך ממשק היצירה הקליל ונוח שלנו</p>
        </div>
        <div class="arrow w-1/12">
            <!-- <mat-icon svgIcon="feather:arrow-left"></mat-icon> -->
            <mat-icon class="icon-size-20 text-primary" svgIcon="feather:arrow-left"></mat-icon>

        </div>
        <div class="step w-1/3 px-4">
            <div class=" rounded-full w-30  flex items-center justify-center mx-auto mb-2">
                <!-- Icon replacement -->
                <img class=" rounded-full ring-4 ring-bg-card" src="assets/images/avatars/brian-hughes.jpg"
                    alt="User avatar">
            </div>
            <h2 class="text-xl mb-1 text-[#3a3a3a]">מציגים</h2>
            <p class="text-base text-[#646464]">מפעילים את המשחק דרך ממשק היצירה ומחברים את המחשב למסך או מקרן מרכזי</p>
            <p class="text-base text-[#646464]">שבו יוצג למשתתפים המשחק</p>
        </div>
        <div class="arrow w-1/12">
            <mat-icon class="icon-size-20 text-primary" svgIcon="feather:arrow-left"></mat-icon>
        </div>
        <div class="step w-1/3 px-4">
            <div class=" rounded-full w-30  flex items-center justify-center mx-auto mb-2">
                <!-- Icon replacement -->
                <img class=" rounded-full ring-4 ring-bg-card" src="assets/images/avatars/female-06.jpg"
                    alt="User avatar">
            </div>
            <h2 class="text-xl mb-1 text-[#3a3a3a]">מתחברים</h2>
            <p class="text-base text-[#646464]">על המסך יופיע הוראות למשתתפים כיצד להתחבר למשחק בצורה קלה ונוחה באמצעות
            </p>
            <p class="text-base text-[#646464]">המכשיר הנייד האישי שלהם</p>
        </div>
    </div>
</div>